@import "tailwindcss";

@theme {
  --color-bgPrimary: #e6efff;
  --font-display: "Montserrat", "sans-serif";
  --color-primary: #222222;
  --color-accent: #34495e;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.active{
  color: #1E73BE;
}

.editorjsdiv h2{
  font-weight: 600;
  font-size: 18px;
}

.editorjsdiv h3, h4, h5{
  font-weight: 500;
  font-size: 16px;
}

.editorjsdiv li{
  margin-bottom: 10px;
  list-style-type: disc;
  padding-left: 10px;
  margin-left: 25px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.custom-audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 500px;
  background: #f9fafb;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.custom-audio-player audio {
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  background: #ffffff;
}

